*.swp
public/images/fun/
public/uploads/
.env
.DS_Store
vendor/
.editorconfig
.gitattributes
app/Exceptions/
app/Http/Controllers/Auth/VerificationController.php
app/Http/Kernel.php
app/Http/Middleware/Authenticate.php
app/Http/Middleware/CheckForMaintenanceMode.php
app/Http/Middleware/TrustProxies.php
app/Http/Middleware/VerifyCsrfToken.php
app/Providers/EventServiceProvider.php
artisan
bootstrap/
composer.json
composer.lock
config/
database/
package.json
phpunit.xml
public/.htaccess
public/index.php
public/robots.txt
public/svg/
resources/js/
resources/lang/
resources/sass/
resources/views/welcome.blade.php
server.php
storage/
tests/
webpack.mix.js
yarn.lock
.env.example
readme.md
composer.phar
resources/assets/
