:root {
    --special: #dedbbc;
    --subtle:  #666666;
    --yes:     #99FF99;
    --neutral: #779977;
    --no:      #EE4444;
    --met:     #9999ff;
    --bright:  #ff9900;
    --font:    monospace;
    --fg:      white;
    --bg:      black;
}
body {
    color: var(--fg);
    background-color: var(--bg);
    font-family: var(--font);
    margin: 1em;
    text-align: center;
    font-size: large;
}
a, i {
    color: var(--special);
}
hr {
    border-color: var(--subtle);
}
h1, h2, h3, h4, h5, h6, label {
    color: var(--special);
}
.content {
    max-width: 65em;
    margin: auto;
}
.p1 {
    text-align: left;
}
.p2 {
    text-align: center;
}
.p3 {
    text-align: center;
}
.dialogue {
    text-align: left;
    margin: auto;
    padding: 1em;
    border: 1px solid var(--subtle);
    width: 80%;
}
