body {
	color: #ffffff;
	background-image: url("/images/awaited_bg.jpg");
	background-color: #000000;
	background-repeat: no-repeat;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 30px;
}
a {
	color: #dedbbc;
}
table {
	border-collapse: collapse;
}
td {
	border: 1px solid #333333;
}
.yes {
	color: black;
	background-color: #00ff00;
}
.no {
	color: black;
	background-color: #ff0000;
}
.met {
	color: black;
	background-color: #9999ff;
}
