body {
	color: #ffffff;
	background-image: url("/images/awaited_bg.jpg");
	background-color: #000000;
	background-repeat: no-repeat;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 30px;
}
a {
	color: #ccaa33;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
